{% extends 'base.html.twig' %}

{% block body %}
<p class="texteParagraphe">Liste des choses à faire avant le décès</p>
    <div class="wishlist">
    {% for wish in wishes %}
    <a class="lienNav" href="{{ path('wish_detail', {'wish':wish.id}) }}">
        -> {{ wish.titre }}<span style="font-size : 0.8em;"> ({{ wish.categorie.nom }})</span>
    </a>
    {% endfor %}
    </div>
{% endblock %}

{% block title %}

{% endblock %}

