<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Bucket List{% endblock %}</title>
        <link rel="icon" href="{{ asset ('images/favicon-32x32.png')}}">
        <link rel="stylesheet" href="{{ asset('CSS/style.css') }}">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
    <header>
        <nav>
            <div class="ensembleNav">
            <img id="logosite" src="{{ asset('images/logo-512.png') }}">
            <span class="titrenav">Bucket-List</span>
            </div>
            <div class="liensNav">
                <a class="lienNav" href="/">Accueil</a>
                <a class="lienNav" href="/aboutus">About Us</a>
                <a class="lienNav" href="/wish/list">Wish</a>
                <a class="lienNav" href="/wish/creation">Créer un nouveau souhait</a>
                <a class="lienNav" href="/wish/listexauce">Souhaits exaucés</a>
            </div>
        </nav>
    </header>
    <main>
        {% block body %}{% endblock %}
    </main>
    <footer>
        © Bucket-List {{ "now" | date('Y') }}
    </footer>
    </body>
</html>
