<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="{{ asset ('CSS/favicon.png')}}">
        <link rel="stylesheet" href="{{ asset('CSS/style.css') }}"
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
    <header>
        <nav>
            <div class="ensembleNav">
            <img id="logosite" src="{{ asset('CSS/logo-512.png') }}">
            <span class="titrenav">Bucket-List</span>
            </div>
            <div class="liensNav">
                <a class="lienNav" href="/">Accueil</a>
            </div>
        </nav>
    </header>
    <main>
        {% block body %}{% endblock %}
    </main>
    <footer>
        © Bucket-List 2023
    </footer>
    </body>
</html>
